<div class="col-sm-3">
    <div class="card mb-3">
      <div class="card-header">
        Featured
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <a href="{% url 'myposts'%}">My Posts</a></li>
        <li class="list-group-item"> <a href="{% url 'add-post'%}">Add Post</a></li>
        <li class="list-group-item"> <a href="{% url 'edit-profile'%}">Edit Profile</a></li>
        <li class="list-group-item"> <a href="{% url 'change-password'%}">Change Password</a></li>
        <li class="list-group-item"> <a href="{% url 'contact'%}">Contact Us</a></li>
        <li class="list-group-item"> <a href="{% url 'logout'%}">Logout</a></li>
      </ul>
    </div>
</div>